h1{
  font-family:'Roboto Slab', serif;
  font-weight: 700;
}
h2{
  font-family:'Glory', sans-serif;
  font-weight: bolder;
}
head{
  background-color: #F7A999;
}
body{
  background: #FADAEA;
  text-align: center;
  margin: auto;
  margin-top: 3rem;
  max-width: 90%;
  font-family: 'Lora', serif;
}
nav{
  background-color: #E9E3E6;
  max-width: 100%;
}
#menu_nav{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
li{
  margin: 0;
  padding: 30px;
}
a{
  text-decoration:none;
  font-weight: bold;
  font-style: italic;
  color: orange;
}
a:hover{
  color: red;
}
#menu_trigger {
  display: none;
}
@media (max-width: 600px) {

  ul {
    flex-direction: column;
  }

  li {
    width: 100%;
  }

  #menu_trigger {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  #menu_nav {
    display: none;
  }
}
