h1{
  font-family:'Roboto Slab', serif;
  font-weight: 700;
}
h2{
  font-family:'Glory', sans-serif;
  font-weight: bold;
}
body{
  background: #FADAEA;
  text-align: center;
  margin: auto;
  margin-top: 3rem;
  max-width: 600px;
  font-family:'Roboto Slab', serif;
}
nav{
  background-color: #E9E3E6;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li{
  margin: 2px;
  padding: 30px;
  border: 1px solid white;
}
a{
  text-decoration:none;
  font-weight: bold;
  font-style: italic;
}
a:hover{
  color: red;
}
