h1{
  font-family:'Roboto Slab', serif;
  font-weight: 700;
}
#home-hi{
  background-image:url(head.jpg);
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 0px;
  margin-top: 0px;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 50px;
  font-size: 4em;
  color:#F5C359;
  text-shadow: 2px 5px 10px #000000;
}
h2{
  font-family:'Glory', sans-serif;
  font-weight: bolder;
}
head{
  background-color: #F7A999;
}
body{
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  max-width: 100%;
  font-family: 'Lora', serif;
}
nav{
  background-color: #F5C359;
  width: 100%;
}
#menu_nav{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-content{
  margin: 0;
  padding: 15px;
  font-size: 1em;
  height:20px;
}
.self-intro{
  display: flex
}
.text{
  margin-left: 100px;
  margin-top: 50px;
  font-size: 1em;
  line-height: 3;
}
#headshot{
  margin-top: 50px;
  margin-left: 50px;
}
#copyright{
  text-align: center;
}
.theme{
  text-align: center;
}
.content{
  margin-left: 100px;
  margin-right: 100px;
}
.text-title{
  text-align: center;
}
.author{
  text-align: center;
}
.video{
  display:flex;
  flex-flow: column;
}
#video-main{
  margin: auto;
}
#img-vegan{
  margin:auto;
}
.intro-video{
  max-width: 60%;
  margin:auto;
}
.explanation{
  display: flex;
  justify-content: space-evenly;
}
.title{
  font-size: 1.25em;
  font-weight: bold;
}
.text-intern{
  list-style-type: none;
  font-size: 1.5em;
  width: 500px;
  padding-left: 50;
}
.intern-title{
  text-align: left;
}
.intern-author{
  text-align: left;
}
.intern-body{
  margin-left: 100px;
  margin-right: 100px;
}
a{
  text-decoration:none;
  font-weight: bold;
  font-style: italic;
  color: black;
}
a:hover{
  color: red;
}
#menu_trigger {
  display: none;
}
@media (max-width: 600px) {
.nav-content{
  padding:10px;
}
ul{
  flex-direction: column;
}

  #menu_trigger {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  #menu_nav {
    display: none;
  }
}
